<%= form_for(detalle) do |f| %>
  <% if detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>

      <ul>
      <% detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :noticia_id %>
    <%= f.text_field :noticia_id %>
  </div>

  <div class="field">
    <%= f.label :comentario_id %>
    <%= f.text_field :comentario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
