<p id="notice"><%= notice %></p>

<p>
  <strong>Noticia:</strong>
  <%= @detalle.noticia %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @detalle.comentario %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
