<%= form_for(noticium) do |f| %>
  <% if noticium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticium.errors.count, "error") %> prohibited this noticium from being saved:</h2>

      <ul>
      <% noticium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :bajada %>
    <%= f.text_field :bajada %>
  </div>

  <div class="field">
    <%= f.label :cuerpo %>
    <%= f.text_area :cuerpo %>
  </div>

  <div class="field">
    <%= f.label :detalle_id %>
    <%= f.text_field :detalle_id %>
  </div>

  <div class="field">
    <%= f.label :comentario_id %>
    <%= f.text_field :comentario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
